<% layout("/layouts/boilerplate") %>
<body>
    <br>
    <div class="row">
        <div class="col-6">
            <h3 style="margin-top: 0px"> Create A New Listing </h3>
            <form method="POST" action="/listings" novalidate class="needs-validation"> <!-- novalidate: This disables the browser default feedback tooltips and uses Bootstrap's custom feedback styles-->
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" type="text" placeholder="Enter title" class="form-control" required>
                    <div class="valid-feedback">Title looks good!</div>
                    <div class="invalid-feedback">Please enter a title</div>
                </div>
                
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="Enter description (at least 20 characters)" class="form-control" minlength="20" required></textarea>
                    <div class="invalid-feedback">Description must be at least 20 characters long</div>
                </div>
                
                <div class="mb-3">
                    <label for="image" class="form-label">Image Link</label>
                    <input name="listing[image]" type="text" placeholder="Enter image URL/link" class="form-control">
                </div>
                
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" type="text" placeholder="Enter price" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>
                    
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" type="text" placeholder="Enter country" class="form-control" required>
                        <div class="invalid-feedback">Country name should be valid</div>
                    </div>
                </div>
                
            
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" type="text" placeholder="Enter location" class="form-control" required>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>
                
                
                <button class="btn btn-dark add-btn">Add</button>
                <br><br>
            </form>
        </div>
    </div>
    
</body>
</html>